<div class="header" style="color:darkblue">
  ŞEHİR LİSTESİ

  <p-button label="Success" severity="success" (click)="saveCity()"/>
  <div class="islem">
    <p-button icon="pi pi-plus" [rounded]="true" [text]="true" (click)="saveCity()" severity="info"/>

  </div>


</div>

<div class="tablo">
  <p-table
    [value]="sehirler"
    [paginator]="true"
    [rows]="10"
    [tableStyle]="{ 'min-width': '100rem' }"
    [rowsPerPageOptions]="[2, 4, 8]"
  >
    <ng-template #header>
      <tr>
        <th style="width:25%">Şehir</th>
        <th style="width:25%">Kod</th>
        <th style="width:25%">Durum</th>
        <th style="width:25%">Oluşturma Tarihi</th>
      </tr>
    </ng-template>
    <ng-template #body let-city>
      <tr>
        <td>{{ city.name }}</td>
        <td>{{ city.code }}</td>
        <td>{{ city.status }}</td>
        <td>{{ city.createDate }}</td>

      </tr>
    </ng-template>
  </p-table>
</div>
