<h1 class="dilek">{{ title }}</h1>


<h2> PERSONEL VERİSİ</h2>
<h3> {{ first_name }}</h3>
<h3> {{ last_name }}</h3>
<h3>{{ school_number }}</h3>

<hr/>

<button>KAYIT ET</button>
<br/>
<textarea></textarea>
<br/>
<input id="name" type="text">
<br/>
<input id="number" type="number">
<br/>
<input id="checkbox" type="checkbox">
<br/>
<hr/>


<h2>PRİMEFACES COMPANENTS</h2>
<p-button label="Success" severity="success" />
<br/>
<p-inputnumber inputId="integeronly" [(ngModel)]="school_number"></p-inputnumber>

