<div class="baslik_div">
  <div class="kolon sol">LOGO</div>
  <div class="kolon orta">PERSONEL İNSAN KAYNAKLARI SİSTEMİ</div>
  <div class="kolon sag">ÇIKIŞ YAP</div>
</div>


<!--<nav>Web siterinde gezinnme işlemlerinde kullanılır örenğin menu başında</nav>
<ul>Liste formatında kullanılır </ul>
<li>ul içinde tanımlanır her bir liste öğesini tanımlar</li>
<a>Bağlantı, link etiketleri için kullanılır </a>
<href>Bağlantının gideceği adresi belirtir</href>  -->

<nav class="menu">
  <ul>
    <li><a href="#">Personel</a></li>
    <li><a href="#">Birimler</a></li>
    <li><a href="#">Şehirler</a></li>
    <li><a href="#">Raporlar</a></li>
    <li><a href="#">Öğrenim</a></li>
  </ul>
</nav>

